/* This file is part of Zaaksysteem, which is released under the EUPL.
 See file LICENSE for full license details.
*/

html,
body {
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  font-size: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#root {
  height: 100vh;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.Mui-selected.MuiTab-labelIcon  {
  background-color: #EFF5FF;
}


*,
*:before,
*:after {
  box-sizing: inherit;
}

/* iFrame Overlay overrides
 * ZS-FIXME: implement this in a robust, generic way
 * (since this is a legacy hack, it preferably shouldn't
 * be supported in the UI Layout component, though)
 */

/* Header */
.iframe-overlay > div > div > div > header,
/* Profile button */
.iframe-overlay > div > div > div > header > div > div,
/* Header selects */
.iframe-overlay > div > div > div > header > div > div > div > div,
/* Nav */
.iframe-overlay > div > div > nav,
/* Nav button */
.iframe-overlay > div > div > nav > div,
/* Nav borders */
.iframe-overlay > div > div > nav > div > div > div::after,
/* Nav dialog buttons */
.iframe-overlay > div > div > nav > div > ul > div,
/* sheet background */
.iframe-overlay > div > div > div > div > div,
.iframe-overlay > div > div > div > div > div > div {
  background-color: #777 !important;
  border-color: #717171 !important;
  color: #585858 !important;
  background-image: unset;
}

/* Placeholder */
.iframe-overlay > div > div > header + div + div > main > div {
  background: none;
}

/* You can't override `box-shadow` color selectively. */
.iframe-overlay * {
  box-shadow: none !important;
}

/* Override `primary` theme style */
.iframe-overlay a,
.iframe-overlay button {
  color: #585858 !important;
  background-color: #777 !important;
}
