.list-view-entity-icon{
	padding-right: 10px !important;
	padding-left:10px;
	position: relative;
	height: 48px;
	display: table-cell !important;
	vertical-align: middle;
}

.zaakdossier-afgehandeld{
	.list-view-entity-icon{
		padding-left:10px;
	}
	.action-bar{
		padding:0 10px;
	}
}

.list-view-entity-icon > div{
	background: url(/images/icons-docs.png) no-repeat;
	width: 33px;
	height: 32px;
	position: relative;
}

.icon-docs{
	background-image: url(/images/icons-docs.png);
	background-repeat: no-repeat;
}


.object-type-file .the-icon{background-position: 0 0;}
.object-type-folder .the-icon{background-position: -320px 0;}
.object-type-folder .folder-collapsed .the-icon{background-position: -288px 0;}
.object-type-folder .object-type-file .folder-collapsed .the-icon,
.object-type-folder .object-type-file .the-icon{background-position: 0 0;}


.object-type-file[data-mimetype="text/plain"] .the-icon,
.object-type-file[data-mimetype="message/rfc822"] .the-icon,
.object-type-file[data-mimetype="rtf"] .the-icon { background-position: -32px 0; }
.object-type-file[data-mimetype="msword"] .the-icon,
.object-type-file[data-mimetype="vnd.ms-word"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] .the-icon { background-position: -64px 0; }
.object-type-file[data-mimetype="vnd.oasis.opendocument.text"] .the-icon{ background-position: -96px 0; }
.object-type-file[data-mimetype="vnd.oasis.opendocument.spreadsheet"] .the-icon {background-position: -448px 0; }
.object-type-file[data-mimetype="pdf"] .the-icon { background-position: -128px 0; }
.object-type-file[data-mimetype="jpg"] .the-icon,
.object-type-file[data-mimetype="jpeg"] .the-icon { background-position: -160px 0; }
.object-type-file[data-mimetype="png"] .the-icon { background-position: -192px 0; }
.object-type-file[data-mimetype="gif"] .the-icon { background-position: -224px 0; }
.object-type-file[data-mimetype="vnd.ms-excel"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.spreadsheetml.sheet"] .the-icon{background-position: -384px 0;}
.object-type-file[data-mimetype="vnd.ms-powerpoint"] .the-icon,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.presentationml.presentation"] .the-icon{background-position: -416px 0;}

.object-type-file[data-mimetype="msword"] .the-icon-ms,
.object-type-file[data-mimetype="wopitest"] .the-icon-ms,
.object-type-file[data-mimetype="vnd.ms-word"] .the-icon-ms,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.wordprocessingml.document"] .the-icon-ms { 
  background-image: url(/images/icon-ms-word.png) !important;
  background-position: -15px -15px;
}
.object-type-file[data-mimetype="vnd.ms-excel"] .the-icon-ms,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.spreadsheetml.sheet"] .the-icon-ms,
.object-type-file[data-mimetype="vnd.oasis.opendocument.spreadsheet"] .the-icon-ms {
  background-image: url(/images/icon-ms-excel.png) !important;
  background-position: -15px -15px;
}
.object-type-file[data-mimetype="vnd.ms-powerpoint"] .the-icon-ms,
.object-type-file[data-mimetype="vnd.openxmlformats-officedocument.presentationml.presentation"] .the-icon-ms {
  background-image: url(/images/icon-ms-powerpoint.png) !important;
  background-position: -15px -15px;
}



.object-type-folder .open .the-icon { background-position: -320px 0; }
.object-type-folder .collapsed .the-icon { background-position: -288px 0; }
