.version-control{
	max-width:820px;
	ul{
		overflow: auto;
		border: 1px solid #bbb;
		background: #f9f9f9;
		margin:0;
	}
	h3{
		font-size: 1em;
		color: #444;
		line-height: 2;
		margin:0;
		&::first-child{
			margin-top: 0;
		}
	}
	li{
		padding: 9px 11px;
		border-bottom: 1px solid #ddd;
		list-style: none;
		line-height: 22px;
		display: flex;
		align-items: center;
		a{
			text-decoration: underline;
		}
		span{
			color: #aaa;
			margin-left:8px;
			&.current-version-message{
				margin:0 5px;
				color: #000;
				font-weight: bold;
			}
			&.version-control-current-version{
				margin-left:auto;
				background: none;
			}
		}
		.btn{
			margin-left:auto;
			height: 1.5rem;
			line-height: 1.5rem;
			padding:0 .4rem;
			&:hover{
				background: transparent;
				text-decoration: underline;
			}
		}
		strong{
			font-weight: 600;
			&:hover{
				cursor: pointer;
			}
		}
	} 
	ul.version-control-version-list{
		margin-bottom:10px;
		li:hover{
			background: #eee;
			cursor: pointer;
		}
	}
}

.version-control-log{
	li{
		position: relative;
	}
	pre{
		padding-right:160px;
		white-space: inherit;
		margin:0;
	}
	span{
		position: absolute;
		right:10px;
		top:50%;
		margin-top:-10px;
	}
}
