[% BLOCK edit_authorizations %]
<div class="casetype-rights-component clearfix">
    <div class="casetype-rights" data-ng-repeat="type in rightGroups track by type.id">
        <div class="casetype-rights-title">
            <[type.label]>
        </div>
        <table class="casetype-rights-title-table">
            <thead class="casetype-rights-title-table-header">
                <tr class="casetype-rights-title-table-row-heading">
                    <th class="casetype-rights-title-table-cell casetype-rights-title-table-cell-role">
                        Rol
                    </th>
                    <th class="casetype-rights-title-table-cell casetype-rights-title-table-cell-rights">
                        Rechten
                    </th>
                    <th class="casetype-rights-title-table-cell casetype-rights-title-table-cell-options">
                    </th>
                </tr>
            </thead>
            <tbody class="casetype-rights-title-table-header-body">
                <tr class="casetype-rights-title-table-row" data-ng-repeat="right in rights[type.id]">
                    <td class="casetype-rights-title-table-cell casetype-rights-title-table-cell-role">
                        <div class="casetype-rights-role-org-unit">
                            <span>Afdeling</span>
                            <select data-ng-model="right.org_unit_id" data-ng-options="unit.org_unit_id as getUnitName(unit) for unit in getUnits()" data-ng-change="handleUnitChange(right)">
                            </select>
                        </div>
                        <div class="casetype-rights-role-role">
                            <span>Rol</span>
                            <select data-ng-model="right.role_id" data-ng-options="role.role_id as getRoleName(role) for role in getRolesForUnit(right.org_unit_id) | orderBy:'system'">
                            </select>
                        </div>
                    </td>
                    <td class="casetype-rights-title-table-cell casetype-rights-title-table-cell-rights">
                        <ul class="casetype-rights-type-list">
                            <li class="casetype-rights-type-list-item" data-ng-repeat="rightType in rightTypes">
                                <label>
                                    <input type="checkbox" data-ng-model="right[rightType.id]">
                                    <[rightType.label]>
                                </label>
                            </li>
                        </ul>
                    </td>
                    <td class="casetype-rights-title-table-cell casetype-rights-title-table-cell-options">
                        <button type="button" data-ng-click="removeRight(type.id, right)">
                            <i class="icon-remove icon-font-awesome icon"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="button button-secondary button-small" data-ng-click="addRight(type.id)">
            <i class="icon-font-awesome icon-plus"></i> Rol toevoegen
        </button>
        
    </div>
</div>
[% END %]

<!-- Begin Zaaktype -->
<div class="block block-minheight auth_definitie form ztb">
    <form method="POST" action="[% formaction %]" class="ezra_zaaktypebeheer auth_definitie-form" data-ng-controller="nl.mintlab.admin.casetype.CaseTypeAuthorizationController" data-ng-init="casetypeId='[% zaaktype_id %]'" data-ng-class="{'auth_definitie-form-loading': loading }">
        <input type="hidden" name="zaaktype_update" value="1" />
        <input type="hidden" name="auth_update"     value="1" />

        <div class="block-header ztb-header clearfix">
            [% IF(zaaktype_id) %]
            <div class="block-header-title">[% params.node.titel %] -  
            [% ELSE %]
                Zaaktype aanmaken
            [% END %]
                <span>Rechten binnen dit zaaktype</span>
            </div>
        </div>

        <div id="content" class="block-content">
            [% PROCESS edit_authorizations %]
            <div class="spinner-groot"><div></div></div>
        </div>

        <div class="form-actions form-actions-sticky clearfix form-actions-bottom">
<!--             <div class="form-actions-inner">
                <input type="submit" name="goback" value="Vorige" class="button button-primary left">
                <input type="submit" value="Volgende" class="button button-primary right">
 -->

                <input type="submit" name="goback" value="Vorige" class="button button-secondary left">

                [% PROCESS beheer/zaaktypen/voortgang.tt %]

                <input type="submit" value="Volgende" class="button button-primary right">
                <input name="destination" type="hidden" value="" />

	   </div>
    </form>
</div>
