.spot-enlighter-wrapper {
    position: relative;
    display: inline-block;
    box-sizing:border-box;
    > input[type="text"] {
        width: 100%;
        height:auto;
        background: url("/images/icon-filter.png") no-repeat scroll 10px center #fff;
        padding-left:30px;
        &[disabled="disabled"]{
            background: #f7f7f7;
        }
    }
    > label{
        display: block;
    }
}

.form .spot-enlighter-wrapper{
    display: block;
}

.spot-enlighter-tag-wrapper {
    padding: 3px;
    max-width: 100%;
    height:100%;
    position: absolute;
    top: 0;
}

.spot-enlighter-tag-wrapper-multi {
    position: static;
}

.spot-enlighter-tag {
    display: inline-flex;
    align-items:center;
    line-height: 2;
    background-color: #555;
    color:#fff;
    border-radius: 2px;
    padding: 0 9px 0 9px;
    margin-right: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height:100%;
    &:focus {
        border: 1px solid rgba(0,0,0,0.6);
    }
}

.spot-enlighter-clear {
    width: 18px;
    height: 100%;
    margin-left: 9px;
    right: 8px;
    background:none;
    line-height: 1;
    color:#aaa;
    border:none;
    padding:0;
    &:hover{
        color:#fff;
    }
    .mdi{
        font-size:1rem;
    }
}

.spot-enlighter-loading {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 50%;
    right: 4px;   
    background: url(/images/spinner-small.gif) no-repeat 50% 50% #fff;
    margin-top:-8px;
}

.spot-enlighter-menu {
    // can't use position fixed because it breaks in some cases on iOS
    position: absolute;
    z-index: 4000;
    background: white;
    padding: 2px 0;
    list-style-type: none;
    border: 1px solid #aaa;
    box-shadow:1px 3px 4px rgba(0,0,0,0.4);
    min-width: 200px;
    max-width: 500px;
    max-height: 300px;
    overflow: auto;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="bottom"] {
    margin-top: 2px;
}

.spot-enlighter-menu[data-zs-spot-enlighter-vertical-orientation="top"] {
    margin-bottom: 2px;
}

.spot-enlighter-menu > li {
    background-color: white;
    padding: 6px 8px;
    cursor: pointer;
    line-height: 1.3;
    margin-left:0 !important;
    .spot-enlighter-case-title i{
        display: none;
    }
    &:hover,
    &.spot-enlighter-entry-highlight  {
        background-color: #eee;
    }
}

.zs-spot-enlighter-container {
    visibility: hidden;
}

.spot-enlighter-visible {
    visibility: visible;
}

.spot-enlighter-disabled:hover{
    border-color:#bbb !important;
}

.spot-enlighter-disabled + .spot-enlighter-tag-wrapper{
    .spot-enlighter-tag{
        color:#aaa;
        border-color:#ccc;
    }
    .spot-enlighter-clear,
    .spot-enlighter-clear:hover{
        color:#aaa !important;
        cursor: default;
    }
}

.spot-enlighter-menu > li > div{
    > div{
        font-weight: bold;
    }
}

button.spot-enlighter-clear>i.mdi-close {
  display: block;
}

.spot-enlighter-entry-desc{
    font-size:.9em;
    color:#888;
}

.spot-enlighter-inactive{
    margin:5px 0;
    display: inline-block;
    font-size:.85rem;
}

[data-zs-spot-enlighter]::-ms-clear {
    display: none;
}

.form-field-spot-enlighter-list-item{
    list-style: none;
    padding:3px 19px 3px 4px;
    position:relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover{
        background-color:#f7f7f7;
        cursor:default;
    }
    &.form-field-spot-enlighter-list-item-multiple-options{
        padding-right:38px;
    }
    &:last-child{
        margin-bottom:7px;
    }
}

.form-field-spot-enlighter-list-item-options{
    right:5px;
    position:absolute;
    top:0;
    display: inline-block;
    height:100%;
}

.form-field-spot-enlighter-list-item-remove,
.form-field-spot-enlighter-list-item-edit{
    background:none;
    display: inline-block;
    vertical-align: middle;
    &.icon-font-awesome{
        font-size:1.1em;
        display: inline-block;
        color:#bbb;
        width:13px;
        height:13px;
        vertical-align: middle;
        height:100%;
    }
    &:hover{
        color:#000;
    }
}

.form-field-spot-enlighter-component-list{
    list-style: none;
    margin-bottom:8px;
}

.form-field-spot-enlighter-component-list-item{
    background:#f7f7f7;
    height:35px;
    margin-bottom:3px;
    > div{
        padding:.6em .5em;
        height:35px;
    }
}
