/* @group icons.css */

.icon {
    text-align: center;
    display: inline-block;
    height: 16px;
    width:16px;
    line-height: 16px;
    vertical-align: middle;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.icon-graphic,.icon-bitmap{
    text-indent: -9999px;
    &:before{
        content:'' !important;
    }
}

.icon-lebensraum{margin-right: 7px; }

.icon-viel-lebensraum{margin-right: 6px;}

.icon-text{
    padding:2px 0 2px 28px;
    background-position: 0 center !important;
}

.icon-hover{background-position: 0 0 !important;}
.icon-hover:hover{background-position: 0 -16px !important;}
.icon-hover.active{background-position: 0 -16px !important;}



.icon-down                  { background-image: url(/images/icon-down.png)}
.icon-case                  { background-image: url(/images/icon-zaaktype.png)}
.icon-folder                { background-image: url(/images/icon-folder-mac.png)}
.icon-notificatie           { background-image: url(/images/icon-envelope.png)}
.icon-go-pijl               { background-image: url(/images/icon-go-pijl.gif)}
.icon-go-pijl-grijs         { background-image: url(/images/icon-go-pijl-grijs.gif)}
.icon-kenmerken             { background-image: url(/images/icon-kenmerk.png)}
.icon-regel                 { background-image: url(/images/icon-direction.png)}
.icon-relatie               { background-image: url(/images/icon-layers.png)}
.icon-result                { background-image: url(/images/icon-cake.png)}
.icon-sjablonen             { background-image: url(/images/icon-file-mac.png)}
.icon-toelichting           { background-image: url(/images/icon-information.png)}
.icon-info                  { background-image: url(/images/icon-info.png)}
.icon-edit                  { background-image: url(/images/icon-edit.png)}
.icon-magnifier             { background-image: url(/images/icon-magnifier.png)}
.icon-checked               { background-image: url(/images/icon-checked.png)}
.icon-persoon               { background-image: url(/images/icon-persoon-zwart.png)}
.icon-zandloper             { background-image: url(/images/icon-zandloper.png)}
.icon-kalender-klaar        { background-image: url(/images/icon-kalender-klaar.png)}
.icon-kalender-nieuw        { background-image: url(/images/icon-kalender-nieuw.png)}
.icon-behandelaar-kleur     { background-image: url(/images/icon-behandelaar-kleur.png)}
.icon-aanvrager-kleur       { background-image: url(/images/icon-aanvrager-kleur.png)}
.icon-zaak,
.icon-zaak-new              { background-image: url(/images/icon-zaak.png)}
.icon-zaak-open             { background-image: url(/images/icon-zaak-open.png)}
.icon-zaak-closed,
.icon-zaak-resolved         { background-image: url(/images/icon-zaak-done.png)}
.icon-zaak-stalled          { background-image: url(/images/icon-zaak-stalled.png)}
.icon-zaak-next,
.icon-zaak-overdragen       { background-image: url(/images/icon-zaak-next.png)}
.icon-zaak-todelete,
.icon-zaak-deleted          { background-image: url(/images/icon-zaak-todelete.png)}

.icon-cancel-search         { background-image: url(/images/icon-cancel-search-small.png)}
.icon-info-white            { background-image: url(/images/icon-information-white.png)}
.icon-map                   { background-image: url(/images/icon-map.png)}
.icon-pending               { background-image: url(/images/icon-pending.png)}
.icon-alert                 { background-image: url(/images/icon-alert.png)}
.icon-man                   { background-image: url(/images/icon-man.png)}
.icon-add                   { background-image: url(/images/icon-voegtoe.png)}
.icon-check                 { background-image: url(/images/icon-check.png)}
.icon-excel                 { background-image: url(/images/icon-page_excel.png)}
.icon-refresh               { background-image: url(/images/icon-refresh.png)}
.icon-behandel-zaak         { background-image: url(/images/icon-behandel-zaak.png)}
.icon-kenmerk               { background-image: url(/images/icon-kenmerk.png)}
.icon-question              { background-image: url(/images/icon-question.png)}
.icon-attachment            { background-image: url(/images/icon-attachment.png)}
.icon-del, .del             { background-image: url(/images/icon-delete.png)}
.icon-edit                  { background-image: url(/images/icon-edit.png)}
.icon-image                 { background-image: url(/images/icon-image.png)}
.icon-afdeling              { background-image: url(/images/icon-afdeling.png)}
.icon-user-edit             { background-image: url(/images/icon-user-edit.png)}
.icon-betrokkene-gm         { background-image: url(/images/icon-betrokkene_gm.png)}
.icon-betrokkene-zs         { background-image: url(/images/icon-betrokkene_zs.png)}
.icon-floppy                { background-image: url(/images/icon-floppy.png)}
.icon-object                { background-image: url(/images/icon-object.png)}
.icon-relaties              { background-image: url(/images/icon-relaties.png)}
.icon-search-query          { background-image: url(/images/icon-search-query.png)}
.icon-plus                  { background-image: url(/images/icon-plus.png)}
.icon-zaak-folder           { background-image: url(/images/icon-case.png)}


.icon-show-more                 { background: url(/images/icon-show-more.png) center top;}
.icon-show-more.icon-show-less  { background-position: 0 -18px;}


.image_jpeg,.image_png,.image_bmp,.image_gif,.application_msword,.application_msexcel, .application_mspowerpoint, .application_pdf, .application_openoffice{
    background-position: 6px center;
    background-repeat: no-repeat;
}
.image_jpeg{background-image: url(/images/mime/icon_image.png);}
.image_png{background-image: url(/images/mime/icon_image.png);}
.image_bmp{background-image: url(/images/mime/icon_image.png);}
.image_gif{background-image: url(/images/mime/icon_image.png);}
.application_msword{background-image: url(/images/mime/icon_doc.png);}
.application_msexcel{background-image: url(/images/mime/icon_xls.png);}
.application_mspowerpoint{background-image: url(/images/mime/icon_ppt.png);}
.application_pdf{background-image: url(/images/mime/icon_pdf.png);}
.application_openoffice{background-image: url(/images/mime/icon_odt.png);}


/* @end */
