<div class="object-view object-view-type-<[objectView.object.type]>" data-zs-object-view data-object-id="[% object_id %]">
	
	<div class="zs-spinner-large zs-spinner-fixed" data-zs-spinner="objectView.isLoading()">
	</div>
	
	<div class="object-view-frame" data-ng-include="objectView.getInclude()">
	</div>
	
</div>

<script type="text/ng-template" id="/html/object/view/generic.html">
	<div class="object-view-info block block-tabbed">
		
		<div class="object-view-header block-header block-header-tabs clearfix">
			<div class="object-view-header-label block-header-title"><[objectView.getObjectTitle()]></div>
		</div>
		
		<ul class="tab-item-list clearfix">
			<li class="tab-item tab-item-<[tab.id]>" data-ng-repeat="tab in objectView.tabs" data-ng-class="{ 'tab-item-active': objectView.isActiveTab(tab) }">
				
				<button type="button" class="tab-item-label" data-ng-click="objectView.selectTab(tab)" data-ng-disabled="objectView.isActiveTab(tab)">
					<[tab.label]>
				</button>
				
			</li>
			
		</ul>
		
		<div class="tab-description"></div>

		<div class="object-view-content tab-content tab-content-type-<[objectView.getActiveTab().id]>" data-ng-include="objectView.getActiveTabPartial()">
		</div>
		
	</div>
	
	<div class="object-view-sidebar" data-zs-object-relation-list>

		<div class="object-view-sidebar-innerscroll">
	
			<div class="object-view-relations block">
					
				<div class="object-view-relations-header object-view-header block-header">
					<h3>
						<i class="object-view-header-icon icon-font-awesome icon-link"></i>
						<span class="object-view-header-title">Relaties</span>
					</h3>
				</div>
				
				<div class="object-view-relations-management">
					
					<ul class="object-view-relation-type-list">
						<li class="object-view-relation-type-list-item" data-ng-repeat="type in objectRelationList.getRelatableTypes()" data-zs-object-relation data-object-type="type">
							
						</li>
					</ul>
				</div>
				
			</div>


		
			<div class="object-view-actions block">
					
				<div class="object-view-actions-header object-view-header block-header">
					<h3>
						<i class="object-view-header-icon mdi mdi-play-circle-outline"></i>
						<span class="object-view-header-title">Acties</span>
					</h3>
				</div>
				
				<div class="object-view-action-block blockcontent" data-zs-object-action-list-casetype data-ng-show="objectActionListCasetype.getCasetypes().length">
					
					<div class="object-view-action-block-header">Zaaktype starten</div>
					
					<ul class="object-view-action-list">
						<li class="object-view-action" data-ng-repeat="casetype in objectActionListCasetype.getCasetypes()">
							<a
								class="object-view-action-link ezra_nieuwe_zaak_tooltip-show"
								data-ng-controller="nl.mintlab.case.FormBootstrapController"
								data-ng-init="casetype_id=casetype.id"
								data-ng-click="openFormBootstrapPopup()"
							>
									<i class="mdi object-view-relation-list-item-icon object-view-relation-list-item-icon-type-casetype"></i>
									<[casetype.values.name]>
							</a>
							<div class="object-view-action-options row-actions right">
								<button class="object-view-action-option" data-ng-click="openPopup()" data-zs-popup="'/html/object/view/planned-case-dialog.html'" data-zs-title="Maak een zaakplanning aan" data-ng-show="objectActionListCasetype.hasRelatedCases(casetype)">
									<i class="icon-font-awesome icon-time"></i>
								</button>
								<button class="object-view-action-button form-field-spot-enlighter-list-item-remove icon-font-awesome icon-remove" data-ng-click="objectActionListCasetype.removeRelation(casetype)" data-ng-show="objectActionListCasetype.canDelete(casetype)">
								</button>
							</div>
						</li>
					</ul>
					
					<div class="object-view-relation-list-add spot-enlighter-wrapper" data-ng-show="objectActionListCasetype.canAdd()">
						<div class="object-view-action-block-header">Zaaktype relateren</div>
						<input type="text" data-ng-model="objectActionListCasetype.newObject" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="'objects'" data-zs-spot-enlighter-params="{ object_type: 'casetype' }" data-zs-spot-enlighter-label="label" data-zs-placeholder="'Begin te typen'" data-zs-spot-enlighter-select="objectActionListCasetype.handleSelect($object)"/>
					</div>
				</div>

                <div class="object-view-action-sync" data-ng-show="objectView.getObject().synchronization_interfaces">
                    <div class="object-view-action-block-header">Synchroniseren</div>

                    <ul class="object-view-action-list">
                        <li class="object-view-action" data-ng-repeat="interface in objectView.getObject().synchronization_interfaces">
                            <div class="object-view-releation-list-item-label">
                                <a class="object-view-action-link" href="/api/object/[% object_id %]/action/synchronize?interface_id=<[interface.id]>">
                                    <i class="mdi icon-font-awesome icon-refresh"></i>
                                    <[interface.label]>
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
				
			</div>
		</div>
	</div>
	
</script>

<script type="text/ng-template" id="/html/object/view/fields.html">
	
	<div class="zs-spinner-medium" data-zs-spinner="objectFieldList.isLoading()"></div>
	<div class="object-field-list grid-table" data-zs-object-field-list>
		<div class="object-field row" data-ng-repeat="field in objectFieldList.getFields()">
			<div class="object-field-label column large-4">
				<[field.label]>
			</div>
			<div class="object-field-value column large-8" data-ng-include="objectFieldList.getFieldTemplate(field)">
			</div>
		</div>
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/timeline.html">
	<div class="timeline clearfix">
	    <div data-ng-include="'/html/timeline/timeline.html'" data-ng-controller="nl.mintlab.timeline.TimelineController" data-ng-init="initialize('object', '[% object_id %]');">
	    </div>
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/field-generic.html">
	<div class="object-field-value-content" data-ng-bind-html="objectFieldList.getTrustedHtml(field)">
	
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/field-geolatlon.html">
	<button class="object-field-value-content" data-zs-template="<[objectFieldList.getTrustedHtml(field)]>" data-ng-click="objectView.gotoLocation(field.value)">

	</button>
</script>

<script type="text/ng-template" id="/html/object/view/field-file.html">
	<div class="object-field-value-content object-field-value-list">
		<a class="object-field-value-list-item object-field-file" data-ng-href="/api/object/[% object_id %]/file/<[file.uuid]>" data-ng-repeat="file in field.value">
			<[file.filename||file.original_name||'Bestand']>
		</a>
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/field-url.html">
	<div class="object-field-value-content">
		<a data-ng-href="<[field.value]>"><[field.value]></a>
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/field-date.html">
	<div class="object-field-value-content">
		<[field.value|date:"dd-MM-yyyy"]>
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/field-subject.html">
	<div class="object-field-value-content object-field-value-list">
		<a class="object-field-value-list-item object-field-subject" data-ng-href="/main/contact-view/<[subject.object_type === 'natuurlijk_persoon' ? 'person' : 'organization']>/<[subject.uuid]>" data-ng-repeat="subject in field.value"><[subject.decorated_name||subject.handelsnaam]></a>
	</div>
</script>

<script type="text/ng-template" id="/html/object/view/relation-list-item.html">

	<div class="object-view-relation-type-list-item-header">
		<[type.label]>
	</div>

	<ul class="object-view-relation-list" data-ng-show="objectRelationList.getRelatedObjects(type).length">

		<li class="object-view-relation-list-item" data-ng-repeat="object in objectRelationList.getRelatedObjects(type)|limitTo:objectRelation.getLimit()">
			<i class="mdi object-view-relation-list-item-icon object-view-relation-list-item-icon-type-<[type.id]>"></i>
			<div class="object-view-relation-list-item-label">
				<a class="object-view-relation-list-item-label-link" data-ng-href="<[objectRelationList.getRelatedObjectLink(object.related_object, type)]>" data-ng-class="{ 'object-view-relation-list-item-label-link-inactive': !objectRelationList.getRelatedObjectLink(object.related_object, type) }" data-ng-if="type.id!=='casetype'">
					<[objectRelationList.getRelatedObjectLabel(object.related_object, type)]>
				</a>
				<a class="object-view-relation-list-item-label-link ezra_nieuwe_zaak_tooltip-show" data-ng-href="<[objectRelationList.getRelatedObjectLink(object.related_object, type)]>" data-ng-class="{ 'object-view-relation-list-item-label-link-inactive': !objectRelationList.getRelatedObjectLink(object.related_object, type) }" data-ng-if="type.id==='casetype'" data-zs-init-everything>
					<[objectRelationList.getRelatedObjectLabel(object.related_object, type)]>
				</a>
			</div>
			<div class="object-view-relation-list-item-options form-field-spot-enlighter-list-item-options">
				<button class="object-view-relation-remove form-field-spot-enlighter-list-item-remove icon-font-awesome icon-remove" data-zs-confirm="objectRelationList.removeRelation(object.related_object, type.id)" data-zs-confirm-verb="Verbreken" data-zs-confirm-label="Weet u zeker dat u deze relatie wil verbreken?" data-ng-show="objectRelationList.canRemove(object)">
				</button>
				<span class="object-view-relation-remove object-view-relation-remove-disabled form-field-spot-enlighter-list-item-remove icon-font-awesome icon-remove" data-zs-title="Deze relatie kan alleen verbroken worden vanuit de zaak waarin hij gelegd is." data-ng-show="!objectRelationList.canRemove(object)"></span>
			</div>
		</li>

	</ul>
	
	<button data-ng-click="objectRelation.toggleShowMore()" data-ng-show="objectRelation.hasMore()" class="show-more <[objectRelation.hasLimit()?'':'show-less']>">
		<i class="icon icon-show-more"></i>
		Toon <[objectRelation.hasLimit()?'meer':'minder']> relaties
	</button>
	
	<div class="object-view-relation-list-empty" data-ng-show="!objectRelationList.isLoading()&&!objectRelationList.canAdd(type)&&!objectRelationList.getRelatedObjects(type).length">
		Er zijn geen objecten van dit type gerelateerd.
	</div>

	<div class="object-view-relation-list-add spot-enlighter-wrapper" data-ng-show="objectRelationList.canAdd(type)">
		<input type="text" data-ng-model="objectRelationList.newObject" data-zs-spot-enlighter data-zs-spot-enlighter-restrict="objectRelationList.getSpotEnlighterRestrict(type)" data-zs-spot-enlighter-label="<[type.objectLabel]>" data-zs-placeholder="objectRelationList.canAdd(type) ? 'Begin te typen&hellip;':'Niet beschikbaar'" data-zs-spot-enlighter-params="objectRelationList.getSpotEnlighterParams(type)" data-zs-spot-enlighter-select="objectRelationList.handleSpotEnlighterSelect($object, type)"/>
	</div>

</script>

<script type="text/ng-template" id="/html/object/view/planned-case-dialog.html">
    <div data-zs-modal data-zs-modal-title="Voeg ingeplande zaak toe">
        <div data-zs-planned-case-edit data-is-create="true" data-cases="objectActionListCasetype.getCases()" data-casetype="casetype" data-submit="objectActionListCasetype.handlePlannedCaseSubmit($values)" class="planned-case-dialog">
        </div>
    </div>
</script>

<script type="text/ng-template" id="/html/object/view/product_faq.html">
	
	[% PROCESS object/product_faq.tt %]
	
</script>

<script type="text/ng-template" id="/html/object/view/location.html">
	<div data-zs-ezra-map data-get-coordinates="objectView.getMapMarkerData()">
		[% PROCESS widgets/general/map.tt
			MAP_TEMPLATE    = 'address'
			MAP_CSSPROFILE  = 'medium'
			MAP_READONLY    = 1
		%]
	</div>
</script>


