<div class="pip-account-title pip-page-title">
    <h1>Berichten</h1>
</div>

<div class="pip-block">
    <div class="pip-block-content" data-ng-controller="nl.mintlab.pip.PipCommunicationController">
        <div class="pip-berichten-wrapper" data-ng-class="{fullscreen: isFullscreen()}">
            <button class="pip-berichten-iframe-toggle" ng-click="toggleFullscreen()">
                <i ng-if="isFullscreen()" class="mdi mdi-fullscreen-exit"></i>
                <i ng-if="!isFullscreen()" class="mdi mdi-fullscreen"></i>
            </button>
            <iframe title="Berichten" id="pip-berichten-iframe" src="/my-pip/communication/[% betrokkene.uuid %][% (c.req.params.thread_uuid ? '/view/' _ c.req.params.thread_uuid : '') %][% (c.req.params.new ? '/new/' _ c.req.params.new : '') %][% (c.req.params.caseUuid ? '?caseUuid=' _ c.req.params.caseUuid : '') %]"></iframe>
        </div>
    </div>    
</div>
