@import "../partials/dependencies";



@font-face {
  font-family: 'Open Sans';
  src: url('../../form/leidschendam-voorburg/fonts/OpenSans-Italic.woff2') format('woff2'),
      url('../../form/leidschendam-voorburg/fonts/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../form/leidschendam-voorburg/fonts/OpenSans-Bold.woff2') format('woff2'),
      url('../../form/leidschendam-voorburg/fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../form/leidschendam-voorburg/fonts/OpenSans-SemiBold.woff2') format('woff2'),
      url('../../form/leidschendam-voorburg/fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../form/leidschendam-voorburg/fonts/OpenSans-SemiBoldItalic.woff2') format('woff2'),
      url('../../form/leidschendam-voorburg/fonts/OpenSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../form/leidschendam-voorburg/fonts/OpenSans-BoldItalic.woff2') format('woff2'),
      url('../../form/leidschendam-voorburg/fonts/OpenSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../../form/leidschendam-voorburg/fonts/OpenSans-Regular.woff2') format('woff2'),
      url('../../form/leidschendam-voorburg/fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}





$template-basic:true;

$body-bg:#F9F9F6;

$logo-url: "../../form/leidschendam-voorburg/img/leidschendam-voorburg.svg";
$logo-width:300px;
$logo-height:76px;
$logo-margin:unset;
$logo-bg-size:cover;
$header-height:183px;
$header-padding:20px;
$header-bg:#1A194E;

$primary-color:#1A194E;
$secondary-color:#CCA169;
$tertiary-color:#333333;
$button-id-bg-color: #1A194E;

$button-primary-bg:$primary-color;
$button-primary-color:white;
$button-primary-bg-hover:darken($primary-color,10%);
$button-in-title-color:#1A194E;
$border-radius:4px;
$button-radius:4px;

$anchor-color:$primary-color;
$anchor-color-hover:#163f53;
$anchor-text-decoration:none;
$anchor-text-decoration-hover:underline;
$font-family: 'Open Sans', sans-serif!important;
$font-size:97%!important;
$template-width:100%;

$container-border:none;

$form-navigation-margin:0 0 2em;

$pip-nav-background-color:#efefeb00;
$pip-nav-border-color:#efefeb;
$pip-nav-border-color-active:$secondary-color;
$pip-nav-anchor-color:$primary-color;
$pip-nav-anchor-color-active:$primary-color;
$pip-nav-bg-active:rgba(255,255,255,.3);
$pip-nav-font-size:1em;
$pip-nav-bg-hover:rgba(255,255,255,.2);
$toggle-pip-nav-color:#fff;
$pip-nav-border-weight:1px;

$pip-progress-bar-bg:lighten($primary-color,50%);

$title-text-color:$tertiary-color;
$title-bg-color:#fff;
$title-font-size:1.75rem;
$title-font-weight:700;
$title-padding-top:4.25em;
$title-padding-bottom:1.25em;
$title-padding-right:1.25rem;
$title-padding-left:1.25rem;
$title-height:auto;

$heading1-color:$tertiary-color;
$heading1-fontsize: 1.75rem;
$heading1-weight:600;
$heading1-font-family: 'Open Sans', sans-serif!important;

$heading2-color:$tertiary-color;
$heading2-fontsize:1.4em;
$heading2-weight:600;
$heading2-font-family: 'Open Sans', sans-serif!important;

$stap-active-anchor-font-weight:400;
$stap-active-bg-color:$secondary-color;

$icon-question-sign-color:$secondary-color;

@import "template-normalize";
@import "basic-template";
@import "template-defaults";
@import "template-media-queries";
@import "button-reset";

b, strong {
  font-weight: 600;
}

.kenmerk-veld {
  background-color: transparent;
}

.form>.row, .form, .kenmerk-veld {
  background: #F9F9F6;
}

.form-navigation .stap:before {
  border-left-color: #F9F9F6;
}

#container {
  background-color: #F9F9F6;
}

.digid-tekst.prelogin-info-tekst.col p {
  font-weight: 400;
}

.prelogin-info {
  padding: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 2px 0px #00000017;
  -moz-box-shadow: 0px 2px 2px 0px #00000017;
  box-shadow: 0px 2px 2px 0px #00000017;
}
.prelogin-logos {
  margin-right: 4%;
}


.block-header {
  background-color: rgba(255, 255, 255, 0) !important; }


.pip .field-help .icon-question-sign, .field-help .icon-question-sign {
  color:$primary-color;
}

#content, form, #pip-nav-menu, #loginwrap, .block-header, .block.succes.done {
max-width: 1024px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-navigation .stap, .pip-login .pip-login-block {
  background: #efefeb;
}

.form-navigation .stap.done:after {
  border-left-color: #efefeb;
}

.form-navigation .stap.active:after {
  border-left-color: $secondary-color!important
}


@media only screen and (max-width: 960px) {
.header h1.header-title {
    padding-right: 0px;
    text-overflow: unset;
    overflow: visible;
    white-space: unset;
}
body {
  font-size: 90% !important;
}
ul#pip-nav-menu {
  padding-left: 0px!important;
  padding-right: 0px!important;
  font-size: 1.1em;
}
.pip-nav ul li a {
  padding: 1.4em 0.9em 1.2em 1.75em!important;
}
.pip-nav {
  background-color: #efefeb;
  border-bottom: 0px!important;
}

.pip-nav ul li.current a {
    border-bottom: 0px!important;
    margin-bottom: 0px!important;
    border-color:$primary-color;
    border-left: 5px solid;
}
.pip-nav ul li.current a span {
  margin-left: -5px;
}
#toggle:checked + div button {
  background: transparent;
}
#toggle:checked + div .pip-nav-menu {
  padding-bottom: 12px;
}
}

.pip-nav ul li.current a, .pip-nav ul li.current a:hover {
  background: #f9f9f6;
}

.pip-page-title {
  margin: 26px 0 26px;
}




@media only screen and (min-width: 960px) {
a i.mdi, button i.mdi {
  -display: none;
}
.pip-nav {
  padding-bottom: 3px;
}
}





ul#pip-nav-menu i {
  display: none;
}

.button-text, button {
  font-weight: 400!important;
}

.row div .titel:first-child {
  font-weight: 500!important;
}



.block-header-inner {
  display: flex;
  flex-direction: column-reverse;
}

.right.header-actions.block-header-actions {
  display: flex;
  justify-content: flex-end;
  position: relative!important;
  margin-top: -52px;
  margin-bottom: 90px;
  margin-right: -10px!important;
}

@media only screen and (max-width: 960px){
  .webform .block-header h1.header-title {
    padding-right: 0px;
}
.right.header-actions.block-header-actions {
  margin-top: -50px;
    margin-bottom: 50px;
    margin-right: -25px!important;
}
}


header {
  position: inherit;
}

.form-navigation .stap.active a, .form-navigation .stap.done a, p, label, ul, li, body, .pip-overview-introduction, .form-navigation .stap.active a, .form-navigation .stap.active, .pip-login .pip-login-block-header {
    color:$tertiary-color!important;
}

@media only screen and (max-width: 960px){
.toggle-pip-nav {
    color: $primary-color!important;
}

#logo a, #logo {
  width: 200px;
  height: 50px;}

  header {
    height: 96px;
    justify-content: flex-start;
}

.block-content, .pip-content {
  padding: 20px;
}
.form-navigation .stap {
  margin-right: unset;
}

}

li, p {
  font-size: .95em;
}

ul#pip-nav-menu {
  padding-left: 11px;
  padding-right: 11px;
}

.particle {
  position: absolute;
  top: 117px;
  right: 16px;
  max-width: 300px;
  width: 25vw;
}

@media (max-width: 1350px) {
.particle {
    display: none;
}}

.pip-case-progress .pip-case-progress-bar {
  background: #efefeb;
}

.pip-case-progress .pip-case-progress-percentages, .pip-case-progress .pip-case-progress-stalled .pip-case-progress-percentages {
  background: #707682;
}



.pip-nav{
	ul li.current a{
		border-bottom: 3px solid $pip-nav-border-color-active;
		margin-bottom:-3px;
	}
}
.pip-nav ul li a {
padding: 1.1em .9em .8em .9em;
}



.pip-nav ul li.current a:hover, .pip-nav ul li.current a {
  border-color:$primary-color;
}

.pip-nav ul li a:hover {
  border-bottom: 3px solid;
    margin-bottom: -3px;
    border-color: #dbdee5
}

.pip-case-form-phase-title{
	font-weight: normal;
}

.form-actions, .form-actions.form-actions-old {
  padding: 55px 0;
}

.button-secondary {
  background: none;
}


.pip-case-form-phase-title, .pip-case-form-phase-title.pip-case-form-phase-current {
  background: #707682;
  border-color: #707682;
}


.pip-case-form-phase-title.pip-case-form-phase-current:hover,
.pip-case-form-phase-title.pip-case-form-phase-active:hover {
  background: #575b64!important;
}


.material-text-button {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 11px;
  line-height: 1.75;
  border-radius: 0px;
  background: $primary-color;
  font-family: 'Open Sans', sans-serif!important;
border-radius: 4px;
}


.material-text-button:hover {
  background-color:darken($primary-color,10%)!important;
}


