<div
	class="search-table-wrapper"
	ng-class="{'loading': $ctrl.loading()}"
	zs-scroll-fade
>

	<div
		class="zs-table table"
		ng-if="!$ctrl.compact()"
	>

		<zs-table-header
			columns="$ctrl.getColumns()"
			on-column-click="$ctrl.handleColumnClick($columnId)"
			class="table-row"
			ng-if="$ctrl.getRows().length"
		>
		</zs-table-header>

		<zs-table-body
			data-rows="$ctrl.getRows()"
			data-columns="$ctrl.getColumns()"
			class="table-body"
			use-href="true"
		></zs-table-body>

	</div>

	<div
		class="compact-items-container"
		ng-if="$ctrl.compact()"
	>

		<zs-case-widget-result-compact
			ng-repeat="item in $ctrl.getRows() track by item.id"
			data-item="item.values"
		>
		</zs-case-widget-result-compact>

	</div>

	<div
		class="zs-table-empty"
		ng-if="!$ctrl.getRows().length && !$ctrl.loading()"
	>
    	<span>{{::$ctrl.getNoItemsFoundMessage()}}</span>
	</div>

	<div
		class="zs-table-empty"
		ng-if="!$ctrl.getRows().length && $ctrl.loading()"
	>
    	<span>Bezig met ophalen resultaten</span>
	</div>


</div>

<div class="widget-inner-scroll-shade widget-inner-scroll-shade-top"></div>
<div class="widget-inner-scroll-shade widget-inner-scroll-shade-left"></div>
<div class="widget-inner-scroll-shade widget-inner-scroll-shade-right"></div>
<div class="widget-inner-scroll-shade widget-inner-scroll-shade-bottom"></div>
